<!doctype html>
<html lang="en">
  <head>
    <title>Blog Zone | Welcome!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script src="https://kit.fontawesome.com/579474135d.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mr-5" href="/"><i class="fas fa-book"></i> Blog Zone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="navToggler">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/posts">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts/genre/tech">Tech</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts/genre/development">Development</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts/genre/gaming">Gaming</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts/genre/other">Other</a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse mr-5" id="navbarNav">
          <hr>
          <ul class="navbar-nav ml-auto">
            
            <% if(!currentUser){ %>
                <li class="nav-item">
                  <a href="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                  <a href="/register" class="nav-link">Sign Up</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                  <a href="#" class="nav-link">Signed in as <%= currentUser.username %>
                </li>
                  <a href="/posts/new" class="nav-link">New Post</a>
                </li>
                <li class="nav-item">
                  <a href="/logout" class="nav-link">Logout</a>
                </li>
            <% } %> 
          </ul>
        </div>
      </div>
    </nav>

<div class="hero-image animated fadeInDown">
<div class="hero-text" id="herotext">
    <h1 id="">Welcome to Blog Zone</h1>
    <h2 class="mb-5">Write your own posts and hear what people have to say!</h2>
    <a href="/register" class="btn btn-light btn-lg">Sign Up</a>
    <p class="mt-5">Click to <a href="/posts">view all posts</a></p>
</div>
</div>

<%- include ('partials/footer') -%>